
~$example_changed.xlsx
~$QC322-110-00 Rev A 2022-07-15-15-22-38 \[Translated\].xlsx
~$QC322-110-00 Rev A 2022-07-15-15-22-38.xlsx
~$translation_table.xlsx
QC322-110-00 Rev A 2022-07-15-15-22-38 \[Translated\].xlsx
QC322-110-00 Rev A 2022-07-15-15-22-38.xlsx
dist/irrs_translator.exe
build/irrs_translator/EXE-00.toc
__pycache__/irrs_translator.cpython-310.pyc
build/irrs_translator/Analysis-00.toc
build/irrs_translator/base_library.zip
build/irrs_translator/irrs_translator.exe.manifest
QC322-110-00 Rev A 2022-07-15-15-22-38 \[Translated\].xlsx
QC322-110-00 Rev A 2022-07-15-15-22-38.xlsx
translation_table - Copy.xlsx
QC321-150-46 Rev A 2022-07-08-10-10-16.xlsx
irrs_translator.spec
build/irrs_translator/irrs_translator.pkg
build/irrs_translator/PKG-00.toc
build/irrs_translator/PYZ-00.pyz
build/irrs_translator/PYZ-00.toc
build/irrs_translator/Tree-00.toc
build/irrs_translator/Tree-01.toc
build/irrs_translator/Tree-02.toc
build/irrs_translator/warn-irrs_translator.txt
build/irrs_translator/xref-irrs_translator.html
exactech.ico
example.xlsx
example_changed.xlsx
irrs_gui.py
NX bad example.xlsx
NX cases for IRRS translator program/QC142-140-93 Rev A 2022-08-09-08-55-32 \[Translated\].xlsx
NX cases for IRRS translator program/QC142-140-93 Rev A 2022-08-09-08-55-32 \[Translated\]_Aymee.xlsx
NX cases for IRRS translator program/QC142-140-93 Rev A 2022-08-09-08-55-32.xlsx
NX cases for IRRS translator program/QC314-126-35 Rev - 2022-08-09-10-28-11 \[Translated\].xlsx
NX cases for IRRS translator program/QC314-126-35 Rev - 2022-08-09-10-28-11 \[Translated\]_Aymee.xlsx
NX cases for IRRS translator program/QC314-126-35 Rev - 2022-08-09-10-28-11.xlsx
NX cases for IRRS translator program/QC315-158-02 Rev B 2022-03-07-14-23-26 \[Translated\].xlsx
NX cases for IRRS translator program/QC315-158-02 Rev B 2022-03-07-14-23-26 \[Translated\]_ Aymee.xlsx
NX cases for IRRS translator program/QC315-158-02 Rev B 2022-03-07-14-23-26.xlsx
NX cases for IRRS translator program/QC322-136-00 Rev A 2022-08-09-09-21-20 \[Translated\].xlsx
NX cases for IRRS translator program/QC322-136-00 Rev A 2022-08-09-09-21-20.xlsx
NX cases for IRRS translator program/QC322-136-00 Rev A 2022-08-09-11-37-40 \[Translated\].xlsx
NX cases for IRRS translator program/QC322-136-00 Rev A 2022-08-09-11-37-40.xlsx
QC321-150-46 Rev A 2022-07-08-10-10-16 \[Translated\].xlsx
QC322-110-00 Rev A 2022-07-15-15-22-38 \[Translated\].xlsx
QC322-110-00 Rev A 2022-07-15-15-22-38.xlsx
