
~$example_changed.xlsx
~$QC322-110-00 Rev A 2022-07-15-15-22-38 \[Translated\].xlsx
~$QC322-110-00 Rev A 2022-07-15-15-22-38.xlsx
~$translation_table.xlsx
QC322-110-00 Rev A 2022-07-15-15-22-38 \[Translated\].xlsx
QC322-110-00 Rev A 2022-07-15-15-22-38.xlsx
dist/irrs_translator.exe
build/irrs_translator/EXE-00.toc
__pycache__/irrs_translator.cpython-310.pyc
build/irrs_translator/Analysis-00.toc
build/irrs_translator/base_library.zip
build/irrs_translator/irrs_translator.exe.manifest
QC322-110-00 Rev A 2022-07-15-15-22-38 \[Translated\].xlsx
QC322-110-00 Rev A 2022-07-15-15-22-38.xlsx
translation_table - Copy.xlsx
QC321-150-46 Rev A 2022-07-08-10-10-16.xlsx
irrs_translator.spec
